
.Rightdev1{
    width: 100%;
    display: flex;
    margin-top: 50px;
    overflow: auto;
    max-height: 100vh;
    justify-content: center;
    
    
}


.firtone{
    
    background-color: white;
    width: 512px;
    padding: 16px 24px;
    margin-bottom: 16px;
    border-radius: 10px;
    margin-top: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 40px;
    
}
.Birdgetext {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.Birdgetext > h3 {
    font-size: 23px;
    font-weight: 800;
    padding-bottom: 15px;
}
.bgDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
}
.buttonbox1{
    height: 17px;
    background-color: #d86935;
    border-radius: 100px;
    width: 70%;
}
.buttonbox {
    height: 17px;
    background-color: #436ca6;
    border-radius: 100px;
}
.bgDiv > .button1 {
    border: none;
    background-color: #507baf;
    color: #ffffff;
    width: 30%;
    gap: 2px;
    padding: 6px;
    border-radius: 3px;
    font-weight: 500;
}


@media only screen and (max-width: 450px){

    .bgDiv > .button1 {
        border: none;
        background-color: #507baf;
        color: #ffffff;
        width: 40%;
        gap: 2px;
        padding: 6px;
        border-radius: 3px;
        font-weight: 500;
    }
    .firtone {
        background-color: white;
        width: 512px;
        padding: 16px 24px;
        margin-bottom: 16px;
        border-radius: 10px;
        margin-top: 75px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .button1 > p {
        color: white;
        padding-left: 22px;
        font-weight: 400;
    }
    .percentage{
        color: white;
        text-align: 
        center;
        align-items: center;
        padding-right: 3px;
        
       }
}

@media only screen and (max-width: 300px){
    .percentage {
        color: white;
        text-align: center;
        align-items: center;
        padding-right: 3px;
        padding-left: 70px !important;
    }
    p.percentage {
        padding-bottom: 1px !important;
        /* margin-top: -4px; */
        font-size: 11px;
        font-weight: 700;
    }
    .firtone {
        background-color: white;
        width: 512px;
        padding: 16px 24px;
        margin-bottom: 16px;
        border-radius: 10px;
        margin-top: 75px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

  
@media only screen and (max-width: 383px){

    .bgDiv > .button1 {
        display: flex;
        flex-direction: column;
        border: none;
        background-color: #507baf;
        color: #ffffff;
        width: 47%;
        border-radius: 3px;
        font-weight: 500;
    }
    
    .firtone {
        background-color: white;
        width: 512px;
        padding: 16px 24px;
        margin-bottom: 16px;
        border-radius: 10px;
        margin-top: 75px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .percentage {
        color: white;
        text-align: center;
        align-items: center;
        padding-right: 3px;
        padding-left: 100px !important;
        padding-bottom: 1px !important;
        /* margin-top: -4px; */
        font-size: 11px;
        font-weight: 700;
    }
    .tranferTwo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

}
.button1 > p {
    color: white;
    padding-left: 10px;
    font-weight: 400;
}


.bgDiv > button{
    border: none;
    color: #4f4b5c;

    width: 40%;
    
    
    
}

.percentage{
    color: white;
    text-align: 
    center;
    align-items: center;
    padding-right: 3px;
    padding-left: 150px;
    padding-bottom: 1px !important;
    /* margin-top: -4px; */
    font-size: 11px;
    font-weight: 700;
   }
.divone{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
}
.divone > img{
    width: 20px;
}
.divone > h4 {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.43;
    color: hsl(254, 10%, 33%);
}
.secondone > p, span {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    color: #d86935;
    /* margin-right: 10px; */
}
.secondone > span {
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.33;
    color: #8d8a95;
    margin-right: 10px;
    gap: 8px;
}
.transfer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1.3333;
    color: #8d8a95;
    
}
.etherum {
    display: flex;
    justify-content: center;
    border: none;
}


.etherum > h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 30px;
}
.secondEthereum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #f3f3f4;
    border-radius: 0px 0px 12px 12px;
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 10px 0
}
.leftEthereum{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    border: 1px;
}
.leftEthereum > img{
 width: 20px;
}
.leftEthereum > span{
    margin: 0 0 0 8px;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.43;
    color: #4f4b5c;
}
.RightEthereum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.RightEthereum > span{
    width: 100%;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    color: #4f4b5c;
    margin: 0 12px;
    outline: none;
}
img.bnb_icon {
    width: 22px;
    text-align: center;
    margin-right: 10px;
}
.BtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}
button > img {
    margin-right: 10px;
}
.BtnContainer > button {
    border-radius: 6px;
    border: 1px solid #ececed;
    font-size: .5rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 4px 8px;
    font-size: .75rem;
    line-height: 1.33;
}
.tranferTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.boxi{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
  
}
.boxi > p {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.43;
    color: #507baf;
}

.mainBox > p {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.33;
    color: #507baf;
}
.mainBox > span {
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.33;
    color: #d86935;
}
.lastDiv {
    width: 100%;
    padding: 12px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    border: unset;
    outline: unset;
    cursor: pointer;
    margin-top: 15px;
    background-color: #436ca6;
    color: white;
    margin-top: 35px;
}
img.bnb_icon {
    width: 22px;
    text-align: center;
}


.CurrencyBTN > button {
    background-color: #436ca6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 48%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.CurrencyBTN {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.RightMain {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}