body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.heading-box.pb-30 {
  text-align: start;
}
.footer_box__block > h4, p {
  color: black;
  text-align: justify;
}
h1 span {
  position: relative;
  font-size: 25px;
  line-height: normal;
}
.b-line {
  margin-left: 370px !important;
  justify-content: center !important;
  text-align: center !important;
}
p.HeroPtage {
  color: #ffffff;
}
.value_proposition {
  margin-top: 5px !important;
  
}
.service_icon1 {
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
  
  
  
 
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.service_details1 {
  text-align: start;
  padding: 0px !important;
}
.btn-success {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.text-danger {
  color: #d86935;
  text-align: start;
  font-weight: 800;
}
.btn-info {
  color: #fff;
  background-color: #fff;
  border-color: #46b8da;
}
.btn-warning {
  color: #fff;
  background-color: #ffffff;
  border-color: #eea236;
}
img.logoicon {
  width: 100%;
  margin-left: 10px;
}
.btn-danger {
  color: #fff;
  background-color: #ffffff;
  border-color: #d43f3a;
}
.ui-timeline .tl-item .tl-body .tl-time {
  left: -220px;
  right: auto;
  color: #517FB1;
  font-weight: bold;
}
.text-success {
  color: #d86935;
  text-align: start;
  font-weight: 700;
}
.text-warning {
  color: #d86935;
  text-align: start;
  font-weight: 700;
}
.text-primary {
  color: #d86935;
  text-align: start;
  font-weight: 700;

  text-align: start;
  font-weight: 700;
}

.textcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topIconContainer {
  display: flex;
  justify-content: start;
}
.text-uppercase {
  text-transform: capitalize;
  font-size: 52px;
  text-align: start;
  color: #ffffff;
  font-weight: 700;
  margin-top: 60px;
}
section#home {
  background-color: #79accd;
}

.light-color * {
  color: #fff;
  text-align: center;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #daa106;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 10px;
}
.headeing.pb-30 > h2 {
  margin-left: 10px;
}
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 100px;
}
.logo {
  display: flex;
}
.col-sm-6.text-right > p {
  text-align: end !important;
}
.headeing.pb-20 {
  text-align: start !important;
}
.b-line {
  position: relative;
  width: 60px;
  height: 3px;
  background: #d86935;
  display: block;
  margin: 0 auto;
  text-align: start;
  margin-left: 15px !important;
}
.headeing.pb-30  {
 text-align: start;
}

.service_details1 {
  display: inline-block;
  width: calc(100% - 70px);
  width: -webkit-calc(100% - 70px);
  vertical-align: middle;
  padding-left: 15px;
  text-align: start;
}


.service_icon1 {
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
  /* margin-left: 30px !important; */
  /* display: flex; */
}
.service_icon2 {
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
  /* margin-left: 30px !important; */
  align-items: start;
  text-align: start;
}
.col-sm-6.pb-xs-30 > h4 {
  text-align: justify;

}
.iconContainer {
  display: flex;
}
h5, .h5 {
  font-size: 14px;
  text-align: start;
}

.list {
  list-style: none;
  text-align: justify;
  justify-content: flex-start;

  padding: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.service_icon {
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
  margin-left: 30px !important;
}
.top_footer_info__block {
  background: #355c9d none repeat scroll 0 0;
  color: #ffffff;
}
.top_footer_info__block {
  background: #fff none repeat scroll 0 0;
  color: #000;
}

.address-box li i.fa {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  width: 20px;
}
.main_footer__block::before {
  background: #f2f2f2 none repeat scroll 0 0;
  content: "";
  height: 99%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
}
.footer_box__block > h4, p {
  color: black;
}
.footer_box__block > ul li a {
  color: black;
}
.footer_box__block > ul li {
  color: black;
  text-align: start;
}
.single_info__block {
  position: relative;
  display: flex;
}
.footer_box__block.address-box li {
  border: 0 none;
  margin: 0;
  display: flex !important;
}
.b-line {
  position: relative;
  width: 60px;
  height: 3px;
  background: #d86935;
  display: block;
  margin: 0 auto;
}
.mainmenu .navbar-nav li a {
  color: #2f2a2a;
  font-size: 10px;
  padding: 30px 15px;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.btn-text {
  font-size: 14px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  line-height: 41px;
  border: 2px solid #d86935;
  padding: 0 22px;
  border-radius: 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #d86832;
  height: 44px;
  text-align: center;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

#footer-widgets .widget .widget-title > span::after {
  width: 0;
  height: 1px;
  background-color: #585252;
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -2;
  width: 60px;
  height: 3px;
  background-color: #d45838;
  margin-left: 110px;
}
h2 {
  font-size: 32px;
  font-weight: 800;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  color: #d86935;
  text-transform: capitalize;
  margin-top: 100px !important;
}

.available_wrap__block{
  background-image: url(../public/assets/images/map.jpg);
  height: 500px;
  display: table;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
.btn-text:hover {
  background: none;
  color: #d86832;
  text-decoration: none;
}
.mainmenu .navbar-nav li a:hover {
  background: none;
  color: #d96c34;
}
#x-section-9 {
  position: relative;
  z-index: 9999;
}
.navbar-toggle .icon-bar {
  background: #cc2020;
}
.header-top-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: white;
}
.maindiv{
  display: flex;
}